In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/estatetop100.csv")
df.head()

   rank             name
0     1             恒大集团
1     2        碧桂园控股有限公司
2     3       万科企业股份有限公司
3     4  保利房地产（集团）股份有限公司
4     5       融创中国控股有限公司

In [3]:
def search(word):
    ls = []
    for i in list(df.name):
        if word in i:
            ls.append(i)
    print(ls)
    return ls

In [5]:
df.loc[df.name.isin(search("万科")), ('rank', 'name')]

['万科企业股份有限公司']

   rank        name
2     3  万科企业股份有限公司